.App {
	text-align: center;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

div.card-title {
	text-align: center;
	font-size: 18 !important;
	font-weight: bold;
}

h1.title {
	padding: 20px 0;
	background-color: rgb(26, 107, 201);
	text-align: center;
	color: white;
	font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.card {
	color: white;
	background-color: steelblue !important;
}

p.precio {
	text-align: center;
	font-weight: bold;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
